version: 2
updates:
- package-ecosystem: npm
  directory: "/deploy/"
  schedule:
    interval: daily
    time: "11:00"
    timezone: "America/Los_Angeles" # Pacific Time
  labels:
  - "category: engineering"
  - dependencies
  commit-message:
    prefix: chore
    include: scope
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: daily
    time: "11:00"
    timezone: "America/Los_Angeles" # Pacific Time
  labels:
  - "category: engineering"
  - dependencies
  commit-message:
    prefix: chore
    include: scope
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "11:00"
    timezone: "America/Los_Angeles" # Pacific Time
  labels:
  - "category: engineering"
  - dependencies
  commit-message:
    prefix: chore
    include: scope
  versioning-strategy: increase
  open-pull-requests-limit: 10 # Default value of 5 has been problematic
  ignore:
    # axe-core updates require enough extra validation
    # on false positives and breaking ai-web, so avoiding
    # dependabot auto-update for them like other deps.
  - dependency-name: axe-core
    versions:
    - ">= 0"
    # Major version of @types/node is pinned to match the version of node we
    # use for builds (ideally, latest LTS)
  - dependency-name: "@types/node"
    versions:
    - ">=15.0.0"
    # Major version upgrades of fluentui will require extra validation
  - dependency-name: "@fluentui/react"
    versions:
    - ">= 9.0.0"
    # Keeping react at 16 due to compatibility issues with enzyme
    # Upgrade tracked by https://mseng.visualstudio.com/1ES/_workitems/edit/1914758
  - dependency-name: react
    versions:
    - ">=17.0.0"
  - dependency-name: react-dom
    versions:
    - ">=17.0.0"
  - dependency-name: "@types/react"
    versions:
    - ">=17.0.0"
  - dependency-name: "@types/react-dom"
    versions:
    - ">=17.0.0"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
    time: "11:00"
    timezone: "America/Los_Angeles" # Pacific Time
