# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# ignoring files that we dont need for e2e tests
.git/
dist/
drop/
extension/
node_modules/
test-results/
