# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# ignoring files that we dont need for e2e tests
.git/
dist/
drop/
extension/
node_modules/
test-results/

# Yarn config for non-zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
