# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# Visual Studio working files
.vs/
*.suo
*.user

# Output of build/deploy tasks
/dist/
/ref/
/extension/
/test-results/
/package/
bundle/
dist/
drop/
*.scss.d.ts

# Dependency directories
node_modules/
.DS_STORE
yarn-error.log
