# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# Visual Studio working files
.vs/
*.suo
*.user

# Output of build/deploy tasks
/ref/
/extension/
/package/

bundle/
dist/
drop/
test-results/
analysis/
*.scss.d.ts

# Dependency directories
node_modules/
.DS_STORE
yarn-error.log
