# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# Visual Studio working files
.vs/
*.suo
*.user

# Output of build/deploy tasks
/ref/
/extension/
/package/

bin/
bundle/
dist/
drop/
obj/
test-results/
analysis/
*.scss.d.ts
original-manifest-copy.json
generated-validate-assessment-json.js

# Dependency directories
node_modules/
.DS_STORE
yarn-error.log

# Yarn config for non-zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
