# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

**/*.dockerignore
**/*.gitattributes
**/*.gitignore
**/*.icns
**/*.ico
**/*.mp3
**/*.nsh
**/*.png
**/*.snap
**/*.md
**/Dockerfile

.DS_Store
.dependabot/
.github/
.prettierignore
.yarnrc
.vs/
AppXManifest.xml
copyright-header.txt
dist/
docs/art/ada-cat.ansi256.txt
docs/LICENSE.txt
src/electron/resources/license_en.txt
src/electron/resources/license.txt
src/tests/miscellaneous/mock-adb/bin/
drop/
extension/
package/
LICENSE
new-appx.ps1
test-results/
yarn.lock

.ignoredRevs
