# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

**/*.a11ywebassessment
**/*.cs
**/*.csproj
**/*.dockerignore
**/*.gitattributes
**/*.gitignore
**/*.icns
**/*.ico
**/*.md
**/*.mp3
**/*.nsh
**/*.plist
**/*.png
**/*.sh
**/*.snap
**/*.snap.html
**/Dockerfile
**/*.a11ywebassessment

.DS_Store
.dependabot/
.github/
.prettierignore
.swcrc
.vs/
.yarn/
AppXManifest.xml
copyright-header.txt
bin/
bundle/
dist/
docs/art/ada-cat.ansi256.txt
docs/LICENSE.txt
obj/
src/NOTICE.html
drop/
extension/
package/
analysis/
LICENSE
new-appx.ps1
test-results/
yarn.lock
src/DetailsView/components/generated-validate-assessment-json.js
replace-plugin.js
tools/get-chrome-web-store-refresh-token.ps1

.ignoredRevs
