drop/
dist/
extension/
.github/
test-results/
.DS_Store
AppXManifest.xml
copyright-header.txt
LICENSE
new-appx.ps1
yarn.lock
.prettierignore
docs/NOTICE.html
docs/LICENSE.txt
**/*.snap
**/*.png
**/*.ico
**/*.dockerignore
**/*.gitignore
**/*.gitattributes
**/Dockerfile
