# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# This prevents inconsistent timeouts during yarn install of the large office fabric fonts package
# See https://github.com/yarnpkg/yarn/issues/5540#issuecomment-374069461
network-timeout 120000

electron_mirror=https://electron.blob.core.windows.net/builds/
electron_custom_dir="7.0.1/electron/3764120"
