# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

parameters:
    jobNameSuffix: ''
    windowsImage: 'windows-2022-secure'
    macImage: 'macOS-11'
    linuxImage: 'ubuntu-22.04-secure'

jobs:
    - job: 'e2e_tests_windows${{ parameters.jobNameSuffix }}'
      templateContext:
          outputs:
              - template: ./e2e-publish-pipeline-artifiacts.yaml
      pool:
          name: $(a11yInsightsPool)
          image: ${{ parameters.windowsImage }}
          os: windows
      steps:
          - template: ./install-node-prerequisites.yaml
          - template: ./e2e-test-from-agent.yaml
          - template: ./e2e-test-publish-results.yaml

    - job: 'e2e_tests_mac${{ parameters.jobNameSuffix }}'
      templateContext:
          outputs:
              - template: ./e2e-publish-pipeline-artifiacts.yaml
      pool:
          name: Azure Pipelines
          vmImage: ${{ parameters.macImage }}
          os: macOS
      steps:
          - template: ./install-node-prerequisites.yaml
          - template: ./e2e-test-from-agent.yaml
          - template: ./e2e-test-publish-results.yaml

    - job: 'e2e_tests_linux${{ parameters.jobNameSuffix }}'
      templateContext:
          outputs:
              - template: ./e2e-publish-pipeline-artifiacts.yaml
      pool:
          name: $(a11yInsightsPool)
          image: ${{ parameters.linuxImage }}
          os: linux
      steps:
          - template: ./run-tests-in-docker-linux.yaml
            parameters:
                target: web
          - template: ./e2e-test-publish-results.yaml
